
.footer-layout {
    background: #67b4ee;
    height:8%;
    left: 0px;
    right: 0px;
    position: fixed;
    bottom: 0px;
}

.footer-layout-text {
    font-size:25px;
    position:relative;
    top:20%;
    text-align:center;
}

.layout-body {
    background: #c1e8f5;
}
