<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="google.com">Гугл</a>
            </div>
        </nav>
    </header>

    <!--Главное содержимое таблицы!-->
    <main>
        @RenderBody();
    </main>

    <footer >
        <div class="layout-footer">
            
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
