<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("link", false)
</head>
<body class="layout-body">

    <!--Главное содержимое таблицы!-->
    <main>
        @RenderBody()
    </main>

    <!--Обязательная нижния планка-->
    <footer class="footer-layout">
        <div>
            <div class="footer-layout-text">Автор приложения (С)| 2020</div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
